<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-container>div {
        background-color: rgb(199, 227, 255);
        width: 450px;
        margin: 10px;
        border-radius: 30px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        border: 1px solid;
        box-shadow: 5px 10px #008bbd;
    }
</style>

<body>
    ยืมอุปกรณ์
    <form action="" method="post">
    <div class="flex-container">
        <% data.tools.forEach(tool=> { %>
            <div>
                <img src="<%- tool.photo_url %>" alt="tool.name" width="300px"><br>
                name : <%- tool.name %><br>
                amount : <%- tool.amount %><br>
                <input type="number" name="<%- tool._id %>" placeholder="0" max="<%- tool.amount %>" min="0">    
            </div>
            <% }) %>
        </div>
        <input type="submit" value="ยืนยัน" style="font-size: 50px;border-radius: 20px; margin: 10px; padding: 10px;">
    </form>

</body>

</html>