<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">


</head>
<body>
    <div class="info">
        <h2>About user</h2>
        <p>Username is <%- data.user.username %></p>
        <p>Your name is <%- data.user.fname %> <%- data.user.lname %></p>

        <h2>Items you've borrowed</h2>
        <% data.borroweds.forEach(item => { %>
            <p><%- item.toolName %> Quantity: <%- item.amount %></p>
        <% }) %>
    </div>

    <div class="button-wrapper">
        <a href="/user/borrow">Borrow more items</a>
        <a href="/user/returnitem">Return items</a>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>